.leftmenu {
            width: 170px;
            float: left;
            position: relative;
        }
        
        .leftmenu h3 {
            height: 40px;
            text-align: center;
            color: #fff;
            font-size: 20px;
            background: olive;
            padding-top: 5px;
        }
        
        .leftmenu > ul > li {
            border-bottom: 1px solid darkgreen;
            text-align: center;
        }
        
        .leftmenu > ul > li > a {
            display: block;
            padding: 14px 15px 14px 15px;
            color: inherit;
            font-size: 14px;
            background: lightgreen;
        }
        
        /*.leftmenu > ul > li ul {
            display: none;
        }
        나중에 만들고 수정
        */

        .leftmenu li {list-style: none;}
        
        .leftmenu ul {padding-left: 0px;}

        .contentbox {
            width: 800px;
            float: right;
            min-height: 600px;
        }